.layout-spacing {
    padding-bottom: 25px;
}
.widget {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    border: none;
    background: #fff;
    -webkit-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
}
.widget .widget-heading {
    margin-bottom: 15px;
}
.widget h5 {
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 0px;
    margin-bottom: 0;
    color: #515365;
}
.widget .widget-content {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.widget  .dropdown-toggle{
    position: relative;
    padding: 9px 15px 10px 15px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    transform: none;
    font-size: 13px;
    line-height: 17px;
    background-color: #fff;
    letter-spacing: normal;
    min-width: 115px;
    text-align: inherit;
    color: #1b2e4b;
    box-shadow: none;
    max-height: 35px;
}
.widget  .dropdown-menu a {
    padding: 8px 15px;
    font-size: 13px;
    font-weight: 500;
    color: #3b3f5c;
}
/* INS Info */
.ins-info {
    display: block;
    width: 100%;
    transition: all ease 0.5s;
    padding: 0px;
	transition: all ease 0.5s;
}

.ins-info:hover {
    transform: scale(1.03);
    
}
.ins-info-head {
    position: relative;
    background: #ede4fe;
    padding: 20px 20px 0px;
    overflow: hidden;
}
.ins-info-head.warning {
    background: #fff2e1;
}
.ins-info-head.danger {
    background: #ffe2e5;
}
.ins-info-head::before {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 160px;
    z-index: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 70px solid rgba(198, 168, 255, 0.6);
    transform: rotate(-25deg);
}
.ins-info-head.warning::before {
    content: "";
    position: absolute;
    bottom: -60px;
    right: -40px;
    z-index: 0;
    border: 60px solid rgb(253 168 53 / 25%);
    transform: rotate(-25deg);
    border-radius: 50%;
}
.ins-info-head.danger::before {
    content: "";
    position: absolute;
    top: -10px;
    bottom: 0px;
    right: -50px;
    z-index: 0;
    width: 120px;
    height: 30px;
    transform: skew(20deg);
    background: rgb(253 82 97 / 45%);
    border: 0px;
}
.ins-info-head::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 210px;
    z-index: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 60px solid rgba(198, 168, 255, 0.397);
    transform: rotate(135deg);
}
.ins-info-head.warning::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 0;
    border: 25px solid rgb(253 168 53 / 25%);
    transform: rotate(135deg);
    border-radius: 50%;
}
.ins-info-head.danger::after {
    content: "";
    position: absolute;
    bottom: -10px;
    top: unset;
    right: 8px;
    left: unset;
    z-index: 0;
    width: 120px;
    height: 30px;
    transform: skew(20deg);
    background: rgb(253 82 97 / 45%);
    border: 0px;
}
.ins-data {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    background: white;
    padding: 10px;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ins-data span {
    font-size: 30px;
    font-weight: 700;
    color: #444;
}
.ins-data .progress {
    margin: 10px 0px 10px;
    height: 5px;
    border-radius: 16px;
    width: 70px;
}
.ins-info-content {
    position: relative;
    padding: 20px;
    overflow: hidden;
}
.ins-info-content h5 a {
    transition: all ease 0.4s;
}
.ins-info-content h5 a:hover {
    color: #4f00de;
    transition: all ease 0.4s;
}
.ins-info-content.warning h5 a:hover {
    color: #e2a03f;
    transition: all ease 0.4s;
}
.ins-info-content.danger h5 a:hover {
    color: #e7515a;
    transition: all ease 0.4s;
}
.ins-user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ins-user-info a {
    background: #4f00de;
    color: #fff;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 15px;
    display: inline-block;
}
.ins-user-info a:hover {
    color: #fff;
}
.ins-user-info .avatar-group {
    display: inline-flex;
    margin: 0px;
    flex-wrap: wrap;
}
.ins-user-info .avatar-group .avatar {
    margin-left: -0.4rem;
}
.ins-user-info .avatar img {
    width: 40px;
    height: 40px;
    -o-object-fit: cover;
    object-fit: cover;
}
.ins-user-info .avatar.avatar-lg {
    height: unset;
    width: unset;
}
/* Quick Categories */
.quick-category{
    display: block;
    width: 100%;
    transition: all ease 0.5s;
}
.quick-category:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: all ease 0.5s;
}
.quick-comparison {
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    border-radius: 9999px;
    color: #fff;
    font-size: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.25rem;
    align-items: center;
    font-weight: 500;
}
.qcompare-success{
    background: #8dbf42;
    color: #ffffff;
}
.qcompare-danger{
    background: #e7515a;
    color: #ffffff;
}
.qc-primary {
    background: #e6f0ff;
    color: #1b55e2;
}
.qc-warning {
    background: #ffebd2;
    color: #e2a03f;
}
.qc-secondary {
    background: #dbc4ff;
    color: #5c1ac3;
}
.qc-success-teal {
    background: #acfff7;
    color: #009688;
}
.quick-category-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
span.quick-category-icon {
    font-size: 35px;
    display: flex;
    padding: 5px;
}

.nav-item.custom-dropdown-icon .dropdown-menu a {
    padding: 8px 15px;
    font-size: 13px;
    font-weight: 500;
    color: #3b3f5c;
} 
.nav-item .dropdown-menu.dropdown-menu-right {
    transform: translate3d(0px, 37px, 0px);
}


/* Media Query */


@media(max-width: 767px) {

    .nav-item .dropdown-menu.dropdown-menu-right {
        transform: translate3d(0px, 77px, 0px);
    }
}
@media(max-width: 575px) {

    .ins-user-info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
    }
    .ins-user-info a {
        margin-bottom: 15px;
    }
    .ins-user-info .avatar-group {
        padding-left: 6px;
    }
}
