html { min-height: 100% 

}
body {
    color: #888ea8;
    height: 100%;
    font-size: 0.875rem;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    letter-spacing: 0.0312rem;
}
h1, h2, h3, h4, h5, h6 { 
	color: #3b3f5c;
}
:focus {
	outline: none; 
}

::selection {
  color: #4f00de;
  background: transparent;
}
p {
	margin-top: 0;
	margin-bottom: 0.625rem;
	color: #515365 
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #f1f2f3;
}
strong { font-weight: 600;
}
code { 
	color: #e7515a;
}
select.form-custom::-ms-expand {
    display: none;
}

/* Scroll to top arrow */
.scroll-top-arrow {
    cursor: pointer;
    position: fixed;
    bottom: 25px;
    right: 10px;
    background: #4f00de;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
}


/* Icon List */

a {
    color: #515365;
    outline: none;
}
a:hover {
	
    color: #555555;
    text-decoration: none
}
a:focus {
	
    outline: none;
    text-decoration: none
}
button:focus, textarea, textarea:focus {
    outline: none;
}
.btn-link:hover {
    text-decoration: none
}
span.blue {
    color: #5526ab
}
span.green {
    color: #8dbf42
}
span.red {
    color: #e7515a
}


.dropdown-toggle svg.feather[class*="feather-chevron-"] {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}


/*dashboard*/


.object-cover{
    object-fit: cover;
}
.pointer {
    cursor: pointer;
}
.display-none{
    display: none;
}

.align-center{
    align-items: center;
}

.avatar-xs {
    height: 1.9rem;
    width: 1.9rem;
}

.avatar-lg {
    height: 4.00rem;
    width: 4.00rem;
}



.font-10 {
    font-size: 10px;
}

.font-12 {
    font-size: 12px;
}
.font-13{
    font-size: 13px;
}
.font-15 {
    font-size: 15px;
}
.font-17 {
    font-size: 17px;
}
.font-19 {
    font-size: 19px;
}
.font-20 {
    font-size: 20px;
}
.font-25 {
    font-size: 25px;
}
.font-30 {
    font-size: 30px;
}
.font-35 {
    font-size: 35px;
}
.font-45 {
    font-size: 45px;
}
.font-65 {
    font-size: 65px;
}
.font-135 {
    font-size: 135px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-40 {
    margin-top: 40px;
}
.ml-m-12 {
    margin-left: -12px;
}
.p-30{
    padding: 30px;
}
/*Page title*/
.page-header {
    border: 0;
    margin: 0;
}
.page-header:before,
.page-header:after {
    display: table;
    content: "";
    line-height: 0
}
.page-header:after { clear: both }
.page-title h3 {
    margin: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: #3b3f5c;
    font-weight: 700;
}
.page-title span {
    display: block;
    font-size: 11px;
    color: #888;
    font-weight: normal
}
.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 0 0 0px;
}
#container.fixed-header { margin-top: 56px; }
#content {
    position: relative;
    width: 50%;
    flex-grow: 8;
    margin-top: 63px;
    margin-bottom: 0;
    margin-left: 140px;
    transition: .600s;
}
.main-container-fluid > .main-content > .container {
    float: left;
    width: 100%
}
#content > .wrapper {
 
    transition: margin ease-in-out .1s;
    position: relative
}
.widget {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 6px;
  
}
.layout-top-spacing {
	margin-top: 20px;
}
.layout-spacing {
	padding-bottom: 40px;
}
.layout-px-spacing {
	padding: 0 20px 0 18px!important;
	min-height: calc(100vh - 170px)!important;
}
.sidebar-closed .layout-px-spacing {
	padding: 0 16px!important;
}
.widget.box .widget-header {
    background: #fff;
    padding: 0px 8px 0px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.row [class*="col-"] .widget .widget-header h4 {
    color: #3b3f5c;
    font-size: 17px;
    font-weight: 600;
    margin: 0;
    padding: 16px 15px;
}
.seperator-header {
    background: transparent;
    box-shadow: none;
    margin-bottom: 40px;
    border-radius: 0;
}
.seperator-header h4 {
    color: #888ea8;
    margin-bottom: 0;
    display: inline-block;
    border: 2px dashed #888ea8;
    line-height: 1.4;
    padding: 3px 6px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    letter-spacing: 1px;
}
.widget .widget-header {
    border-bottom: 0px solid #f1f2f3;
}
.widget .widget-header:before,
.widget .widget-header:after {
    display: table;
    content: "";
    line-height: 0
}
.widget .widget-header:after {
	clear: both
}
.widget-content-area {
    padding: 20px;
    position: relative;
    background-color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.content-area {
    max-width: 58.333333%;
    margin-left: 80px;
}
.widget.box .widget-footer {
    padding: 2rem 2.25rem;
    background-color: #ffffff;
    border-top: 1px solid #EBEDF3;
}
/* Navigation Bar */
.header-container {
    z-index: 1000;
    border-bottom: 1px solid #f5f5f5;
}
.header-container .navbar {
    padding: 4px 0;
    height: 55px;
}
.navbar {
    padding: 0;
    background: #ffffff;
}
.navbar .theme-brand {
    padding: 0.9px 0 0.9px 17px!important;
    border-radius: 6px 6px 0 0;
    justify-content: space-between;
}
.navbar .theme-brand li.theme-logo { align-self: center; }
.navbar .theme-brand li.theme-logo img {
    width: 34px;
    height: 34px;
}
.navbar .theme-brand li.theme-text {
    margin-right: 47px;
}
.navbar .theme-brand li.theme-text a {
    font-size: 24px !important;
    color: #4f00de !important;
    line-height: 2.75rem;
    padding: 0 0.8rem;
    text-transform: initial;
    position: unset;
    font-weight: 700;
}
.navbar.expand-header { margin: 0 }
.navbar-brand {
    width: 5.5rem;
    padding-top: 0.0rem;
    padding-bottom: 0.0rem;
    margin-right: 0.0rem;
}
.navbar-expand-sm .navbar-item {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-expand-sm .navbar-item .nav-link {
    line-height: 2.75rem;
    padding: 6.24px 9.6px;
    text-transform: initial;
    position: unset;
}
.header-container.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 140px;
    transition: all ease .600s;
}
.header-container .navbar .dropdown-menu {
    border-radius: 6px;
    border-color: #e0e6ed;
}

.header-container .navbar .navbar-item .nav-item.dropdown .nav-link:hover span {
    color: #e0e6ed!important;
}
.header-container .navbar .navbar-item .nav-item.dropdown .dropdown-menu {
    top: 109%;
    border-radius: 0;
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
    background: #fff;
    margin-top: 0;
}
.header-container .navbar .navbar-item .nav-item.dropdown .dropdown-menu:after {
    position: absolute;
    content: '';
    top: -10px;
    margin-left: -7px;
    height: 0;
    width: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 15px solid #fff;
    left: auto;
    right: 7px;
    border-bottom-color: #ffffff;
}


.navbar .navbar-item .nav-item .dropdown-menu {
    z-index: 9999;
    min-width: 13rem;
    padding: 10px;
    top: 68px;
    left: -184px;
}


/* Notification Dropdown */
.notification-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar .navbar-item .nav-item.dropdown.notification-dropdown { 
	margin-left: 10px;
}
.navbar .navbar-item .nav-item.dropdown.notification-dropdown .nav-link {
    padding: 8px 8px;
    display: flex;
    background: #f6f1ff;
    border-radius: 8px;
    transition: all ease 0.6s;
}
.navbar .navbar-item .nav-item.dropdown.notification-dropdown .nav-link:hover {
    background: #e1d1ff;
    transition: all ease 0.6s;
}
.navbar .navbar-item .nav-item.dropdown.notification-dropdown .nav-link:after { display: none;
}
.navbar .navbar-item .nav-item.dropdown.notification-dropdown .nav-link i {
	color: #4f00de; font-size: 22px; 
}
.navbar .navbar-item .nav-item.dropdown.notification-dropdown .nav-link span.badge {
    position: absolute;
    top: 9px;
    right: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    padding: 3px 0px 0px;
    font-size: 10px;
    color: #fff!important;
    background: #c2d5ff;
    display: block;
    border: 1px solid #3b3f5c;
}
.navbar .navbar-item .nav-item.dropdown.notification-dropdown .dropdown-menu {
    min-width: 15rem;
    right: -5px;
    left: auto;
}
.navbar .navbar-item .nav-item.dropdown.notification-dropdown .dropdown-menu .dropdown-item {
    padding: 0.625rem 1rem;
}
.navbar .navbar-item .nav-item.dropdown.notification-dropdown .dropdown-menu .dropdown-item:focus,
.navbar .navbar-item .nav-item.dropdown.notification-dropdown .dropdown-menu .dropdown-item:hover {
    background-color: rgba(27, 85, 226, 0.1803921568627451);
}
.navbar .navbar-item .nav-item.dropdown.notification-dropdown .dropdown-menu .dropdown-item:not(:last-child) {
    border-bottom: 1px solid #ebedf2;
}
.navbar .navbar-item .nav-item.dropdown.notification-dropdown .dropdown-menu .media { margin: 0; }
.navbar .navbar-item .nav-item.dropdown.notification-dropdown .dropdown-menu svg {
    width: 20px;
    height: 20px;
    font-weight: 600;
    color: #1b55e2;
    fill: rgba(0, 23, 55, 0.08);
    margin-right: 14px;
    align-self: center;
}
.navbar .navbar-item .nav-item.dropdown.notification-dropdown .dropdown-menu .media-body .notification-para {
    white-space: normal;
    line-height: 16px;
    color: #3b3f5c;
}
.navbar .navbar-item .nav-item.dropdown.notification-dropdown .dropdown-menu .media-body .notification-para .user-name {
    font-weight: 600;
    color: #1b55e2;
    display: inline-block;
}
.navbar .navbar-item .nav-drop.is-notification-dropdown {
    width: 250px;
    right: 0 !important;
    left: unset !important;
    max-height: unset !important;
}
.navbar .notification-dropdown .nav-link .blink {
    position: absolute;
    top: 0px;
    right: 2px;
}
.navbar .notification-dropdown .nav-link .blink .circle {
    background: #4f00de;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}
.navbar .notification-dropdown .nav-link .blink .circle::before {
    background-color: #4f00de;
    content: "";
    display: table;
    border-radius: 50%;
    position: absolute;
}
.pulse, .circle::before {
    animation-name: pulse;
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out; 
}
@keyframes pulse {
    0% {
      opacity: 1;
      width: 7px;
      height: 7px;
      left: 0;
      top: 0; }
    95% {
      opacity: 0.1;
      left: -10.5px;
      top: -10.5px;
      width: 28px;
      height: 28px; }
    100% {
      opacity: 0;
      width: 7px;
      height: 7px;
      left: 0;
      top: 0; } 
}

/* User Profile Dropdown*/
.navbar .navbar-item .nav-item .nav-link.user {
    padding: 0 20px 0 16px;
    position: relative;
}
.navbar .navbar-item .nav-item.dropdown .nav-link:after {
    display: none;
}
.navbar .navbar-item .nav-item .nav-link img {
    width: 28px;
    border-radius: 50%;
    height: 28px;
}
.navbar .navbar-item .nav-item.user-profile-dropdown .dropdown-menu {
    min-width: 15rem;
    left: -194px;
    padding: 10px!important;
}
.navbar .navbar-item .nav-item .dropdown-menu .dropdown-item a {
    display: block;
    color: #3b3f5c;
    font-size: 13px;
    font-weight: 600;
    padding: 9px 30px;
}
.navbar .navbar-item .nav-drop.is-account-dropdown {
    width: 210px;
    right: 0 !important;
    left: unset !important;
    max-height: unset !important;
}
.navbar .navbar-item a.account-item {
    cursor: pointer;
}
.navbar .navbar-item a.account-item:hover {
    background: #f9f5ff;
    border-radius: 6px;
}
.navbar .navbar-item .nav-drop .inner {
    position: relative;
}
.navbar .navbar-item .nav-drop .inner .nav-drop-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 16px 10px;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 4px 4px 0 0;
    background: #fff;
}
.navbar .navbar-item .nav-drop .inner .nav-drop-header span.username, .navbar .navbar-item .nav-drop .inner .nav-drop-header a.username {
    font-weight: 600 !important;
}
.navbar .navbar-item .nav-drop .inner .nav-drop-header a {
    height: unset;
    width: unset;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.navbar .navbar-item.is-account img {
    height: 38px;
    width: 38px;
    max-height: 38px;
    border-radius: 50%;
    object-fit: cover;
}
.navbar .navbar-item .nav-drop .inner .nav-drop-body.account-items {
    padding: 10px 0;
}
.navbar .navbar-item .nav-drop .inner .nav-drop-body {
    max-height: 445px;
    padding: 0 10px;
    overflow-y: auto;
}
.navbar .navbar-item .nav-drop .inner .nav-drop-body.account-items .account-item {
    padding: 10px 16px;
    display: block;
    line-height: 1.2;
}
.navbar .navbar-item .nav-drop .inner .nav-drop-body.account-items hr {
    margin: .4rem 0 !important;
}
.navbar .navbar-item hr {
    background-color: #f5f5f5;
    border: none;
    display: block;
    height: 2px;
    margin: 1.5rem 0;
}

.dropdown-toggle:after {
	display: none; 
}
.dropup .dropdown-toggle::after {
	display: none; 
}
.dropright .dropdown-toggle::after { 
	display: none;
}
.dropleft .dropdown-toggle::before {
	display: none;
}
.dropdown-toggle svg.feather[class*="feather-chevron-"] {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

/*start of sub header*/
.sub-header-container {

    padding: 0 20px 0 18px!important;
    z-index: 1029;
}
.sub-header-container .navbar {
    background: #ffffff;
    border-radius: 0;
    padding: 9px 0;
    justify-content: flex-start;
    min-height: 53px;
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
}
.sub-header-container .navbar .toggle-sidebar,
.sub-header-container .navbar .sidebarCollapse {
    position: relative;
    padding: 0 25px 0 0px;
    margin-left: 0;
}
.sub-header-container .navbar .sidebarCollapse i {
    font-size: 20px;
    color: #4f00de;
    vertical-align: middle;
}
.page-header {
    display: flex;
    padding: 0 0;
}
.sub-header-container .breadcrumb-one { 
    display: inline-block;
}
.sub-header-container .breadcrumb-one .breadcrumb {
    padding: 0;
    vertical-align: sub;
    background-color: transparent;
    margin-bottom: 0;
}
.sub-header-container .breadcrumb-one .breadcrumb-item { align-self: center; }
.sub-header-container .breadcrumb-one .breadcrumb-item a {
    color: #888ea8;
}
.sub-header-container .breadcrumb-one .breadcrumb-item a svg {
    width: 18px;
    height: 18px;
    vertical-align: sub;
    fill: #888ea8;
}
.sub-header-container .breadcrumb-one .breadcrumb-item.active a { color: #515365; }
.sub-header-container .breadcrumb-one .breadcrumb-item.active {
    color: #353535;
    font-weight: 600;
}
.sub-header-container .breadcrumb-one .breadcrumb-item+.breadcrumb-item { padding: 0px; }
.sub-header-container .breadcrumb-one .breadcrumb-item+.breadcrumb-item::before {
    color: #888ea8;
    padding: 0 6px 0 6px;
    vertical-align: bottom;
}
@media(max-width: 575px) {
    .page-header {
        display: block;
    }
    .sidebarCollapse {
        padding-left: 0px !important;
    }

}


/* Sidebar */
nav#sidebar {
    padding-right: 20px;
}
.logo-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo-area .navbar-logo {
    height: 25px;
    width: 25px;
}
.logo-area .nav-link {
    font-size: 17px !important;
    color: #ffffff !important;
    line-height: 2.75rem;
    padding: 0 0.2rem;
    text-transform: initial;
    position: unset;
    font-weight: 700;
}
.sidebar-wrapper {
    width: 140px;
    position: fixed;
    z-index: 1028;
    transition: .600s;
    height: 100vh;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    left: 0px;
    top: 0px;
}
.sidebar-wrapper::before {
    content: "";
    top: 0px;
    bottom: 0px;
    width: 20px;
    background: #ffffff;
    position: absolute;
    right: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all ease 0.5s;
}
.sub-sidebar-open .sidebar-wrapper::before {
    transition: all ease 0.5s;
    background: #f0eafa;
}
.sidebar-theme {
	background: #4f00de ;
}
.sidebar-wrapper .menu-categories li.menu > .dropdown-toggle {
    color: #ffffff;
}
.sidebar-wrapper .menu-categories li.menu > a i {
    font-size: 30px;
}
#sidebar ul.menu-categories li.menu:first-child {
    margin-top: 25px;
}
#sidebar ul.menu-categories li.menu {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
    position: relative;
}
#sidebar ul.menu-categories li.menu.active:before {
    content: "";
    width: 4px;
    background: #ffffff;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 8px;
}
#sidebar ul.menu-categories li.menu:last-child {
    margin-bottom: 0px;
}
.sidebar-wrapper .menu-categories li.menu > a {
    padding: 15px 16px;
    background: transparent;
    transition: all ease 0.4s;
}
.sidebar-wrapper .menu-categories li.menu > a[data-active="true"],
.sidebar-wrapper .menu-categories li.menu > a:hover,
.sidebar-wrapper .menu-categories li.menu > a.active{
    padding: 15px 16px;
    transition: all ease 0.2s;
    background: #7123ff;
    border-radius: 13px;
}
.main-container.sidebar-closed .sidebar-wrapper{
   left: -145px;
}
.main-container.sidebar-closed #content{
    margin-left: 0px;
}
.main-container.sidebar-closed .header-container.fixed-top {
    left: 0px;
    transition: all ease .600s;
}

.main-item {
    position: relative;
}
.main-item .new-notification {
    height: 6px;
    width: 6px;
    position: absolute;
    background: #e7515a;
    border-radius: 50%;
    right: 15px;
}
#sidebar ul.menu-categories {
    position: relative;
    margin: auto;
    width: 100%;
    height: calc(100vh - 43px)!important;
    margin-right: 0;
    overflow: hidden;
    padding-bottom: 40px;
}
#sidebar .ps__thumb-y {
    right: 4px;
}
.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.4);
    z-index: 1020!important;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    touch-action: pan-y;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.overlay.show {
    display: block;
    opacity: .7;
}


#sidebar ul.menu-categories .ps__rail-y {
    right: -4px !important;
}


/*Content*/
.vw-btn{
	box-shadow: 12px 10px 12px rgba(0,0,0,0.3);
	background: #224abe;
	color: aliceblue;
	transition: all .2s ease-in-out;
}



.menu a {
	font-size: 1.8rem;
}

.menu a p{
	font-size: 1rem;
}

.vw-btn:hover{
	background: #be5a35;
	color: aliceblue;
}

@media(max-width:768px){
	.menu a {
	font-size: 1rem;
}

.menu a p{
	font-size: .8rem;
}
}
/*Content*/

/* Footer-wrapper */
.footer-wrapper {
    padding: 10px 20px 10px 18px;
    display: inline-block;
    background: transparent;
    font-weight: 600;
    font-size: 12px;
    width: 100%;
    border-top-left-radius: 6px;
    display: flex;
    justify-content: space-between;
}
.main-container.sidebar-closed .footer-wrapper {
    border-radius: 0;
}
.footer-wrapper .footer-section p {
    margin-bottom: 0;
    color: #bfbfbf;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
}
.footer-wrapper .footer-section p a {
    color: #a0a0a0;
}
.footer-wrapper .footer-section svg {
    color: #e7515a;
    fill: rgba(231, 81, 90, 0.4196078431372549);
    width: 15px;
    height: 15px;
    vertical-align: text-top;
}
/* MEDIA QUERIES */
@media (min-width: 992px) {
    .sidebar-closed #sidebar .theme-brand li.theme-text a { display: none; }
    .d-lg-flex {
        display: flex!important;
    }
}
@media (max-width: 991px) {
    .navbar .theme-brand {
        padding: 0.9px 0 0.9px 14px!important;
        margin-left: 0px !important;
    }
    .sub-header-container .navbar .toggle-sidebar, .sub-header-container .navbar .sidebarCollapse {
        position: relative;
        padding: 0 25px 0 16px;
    }
    .navbar .navbar-item .nav-drop.is-notification-dropdown {
        width: 205px;
    }
    .navbar .navbar-item .nav-item.dropdown.notification-dropdown .dropdown-menu {
        min-width: 12rem;
    }
    .navbar .navbar-item .nav-item.user-profile-dropdown .dropdown-menu {
        min-width: 12rem;
        left: -164px;
    }
    .navbar .navbar-item .nav-drop.is-account-dropdown {
        width: 190px;
    }
    .navbar .navbar-item .nav-item.dropdown.message-dropdown .dropdown-menu {
        min-width: 11rem;
    }
    /* NavBar */
    .main-container.sidebar-closed #content { margin-left: 0; }
    /* Sidebar */
    .shadow-bottom { width: 100%; }
    #content { margin-left: 0; }
    #sidebar .theme-brand {
        border-radius: 0;
    }
    #sidebar .theme-brand {
        background-color: #1b55e2;
        padding: 7px 12px 7px 24px;
        border-color: #1b55e2
    }
    .sidebar-closed #sidebar .theme-brand {
        padding: 0.9px 12px 0.9px 24px;
    }
    .main-container:not(.sbar-open) .sidebar-wrapper {
        width: 0;
        left: -52px;
    }

    .main-container { padding: 0;  }
    #sidebar ul.menu-categories.ps {
        height: calc(100vh - 10px)!important;
    }
    .sidebar-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100px;
        z-index: 9999;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        border-radius: 0;
    }
    .sidebar-closed > .sidebar-wrapper {
        left: 0;
    }
    .sidebar-noneoverflow { overflow: hidden; }
    #sidebar {
        height: 100vh!important;
        padding: 10px 0 10px 0px;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
    }
    .footer-wrapper {
        padding: 0 16px 17px 16px;
    }
    .layout-px-spacing {
        padding: 0 16px!important;
    }
    nav#sidebar {
        padding-right: 0px;
    }
    .sidebar-wrapper::before {
        width: 0px;
    }
    
    .sidebar-wrapper .menu-categories li.menu > a i {
        font-size: 25px;
    }
    .sidebar-wrapper .menu-categories li.menu > a {
        padding: 10px 12px;
        background: transparent;
        transition: all ease 0.4s;
    }
    .sidebar-wrapper .menu-categories li.menu > a[data-active="true"], 
    .sidebar-wrapper .menu-categories li.menu > a:hover, 
    .sidebar-wrapper .menu-categories li.menu > a.active {
        padding: 10px 12px;
    }
    .sidebar-submenu .submenu .submenu-inner-info {
        margin-top: 3px;
        margin-bottom: 20px;
    }
    .header-container.fixed-top {
        left: 0px;
    }
    .overlay.show {
        display: block;
        opacity: .7;
    }
}
@media (max-width: 370px) {
    .navbar .navbar-item .nav-item .nav-link.rightbarCollapse {
        padding: 0 20px 0 0px;
        position: relative;
        line-height: 1;
    }
}
@media (max-width: 767px) {
    .navbar .theme-brand li.theme-text {
        display: none;
        margin-right: 0;
    }
    
    .navbar-expand-sm .navbar-nav .dropdown-menu {
        position: absolute;
    }
}
@media (max-width: 575px) {
  
    .sub-header-container .breadcrumb-one .breadcrumb-item:not(.active) { display: none;  }
    .sub-header-container .breadcrumb-one .breadcrumb-item+.breadcrumb-item::before { display: none; }
    .sub-header-container .breadcrumb-one .breadcrumb-item span {
    vertical-align: sub;
    font-size: 15px;
    font-weight: 700; }
    .sub-header-container .navbar .toggle-sidebar, .sub-header-container .navbar .sidebarCollapse { padding: 0 13px 0 16px;}
    .navbar .navbar-item .nav-item.dropdown .dropdown-menu:after { right: 45px; }
    .navbar .navbar-item .nav-item.dropdown.notification-dropdown .dropdown-menu { right: -44px; }
    .navbar .navbar-item .nav-item.dropdown.notification-dropdown .dropdown-menu:after { right: 46px; }
  
    .footer-wrapper .footer-section.f-section-2 { display: none; }
}
/* Tablet Media Query */
@media (min-width: 600px) and (max-width: 768px) {
    .navbar .navbar-item .nav-item .nav-link.rightbarCollapse {
        padding: 0 20px 0 0px;
    }
}
@media (max-width: 1068px) {
    .responsive-msg-component {
        display: flex;
    }
}


input[disabled], select[disabled], textarea[disabled],
input[readonly], select[readonly], textarea[readonly] {
    cursor: not-allowed;
    background-color: #f1f2f3!important;
    color: #acb0c3
}

